.TodoWrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.TodoWrapper input {
  transform: scale(1.5);
}

.Todo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #1a1a1a;
  gap: 20px;
  border-radius: 8px;
  transition: transform 0.2s, opacity 0.2s;
}

.Todo--completed {
  transform: scale(0.95);
  opacity: 0.5;
}

.Todo-settings {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.Todo-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Todo-delete {
  padding: 5px 10px;
  height: fit-content;
}

.Todo-delete img {
  width: 24px;
  padding: 0;
}
